*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background-image:url(img/GTI.png);
	background-size:125%;
} 
nav{
display: flex;
height: 80px;
width: 100%;
background-color:rgba(42,42,42,1);
align-items: center;
justify-content: space-between;
padding: 0 50px 0 100px;
flex-wrap: wrap;
}
nav .logo{
color: #fff;
font-size: 35px;
font-weight: 600;
}
nav ul{
display: flex;
flex-wrap: wrap;
list-style: none;
}
nav ul li{
margin: 0 5px;
}
nav ul li a{
color: #f2f2f2;
text-decoration: none;
font-size: 18px;
font-weight: 500;
padding: 8px 15px;
border-radius: 5px;
letter-spacing: 1px;
transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
color: #111;
background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
nav .menu-btn i{
    display: block;
  }
#click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
nav ul{
position: fixed;
top: 80px;
left: -100%;
background-color:rgba(45,45,45,0.95);
height: 100vh;
width: 100%;
text-align: center;
display: block;
transition: all 0.3s ease;
}
#click:checked ~ ul{
    left: 0;
}
nav ul li{
width: 100%;
margin: 40px 0;
}
nav ul li a{
width: 100%;
margin-left: -100%;
display: block;
font-size: 20px;
transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }
#click:checked ~ ul li a{margin-left: 0px;}
nav ul li a.active,
nav ul li a:hover{
background: none;
color: cyan;
}
}
.main{
position: absolute;
top: 32%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
z-index: -1;
width: 100%;
max-height:50%;
color: #1b1b1b;
}
.main img{
max-width: 100%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
}
.main div{
color:white;
font-size: 150%;
font-weight: 700;
padding:2%;
background-color:rgba(42,42,42,0.85);
border-radius:25px;
margin:1%;
}
.main div p{
	font-size:60%;
}

.mainh{
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
z-index: -1;
width: 100%;
max-height:50%;
color: #1b1b1b;
}
.mainh img{
max-width: 100%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
}
.mainh div{
color:white;
font-size: 150%;
font-weight: 700;
padding:2%;
background-color:rgba(42,42,42,0.85);
border-radius:25px;
margin:1%;
}
.mainh div p{
	font-size:60%;
}