body{
	margin:0;
	padding:0;
	background-image:url(img/GTI.png);
	color:white;
}
#photo1{float:left;}
#photo1 img{
	width:100%;
	height: auto;
	display: block;
}
.Tekst{
	float:left;
	width:100%;
	background-color:rgba(45,45,45,0.85);
	border-radius:15px;
	margin-bottom:5px;
}
.Tekst p{
	font-size: 2.2em;
	text-align:center;
}
.Tekst h1{
	font-size: 4.2em;
	text-align: center;
}