body{
	margin:0;
	padding:0;
	background-image:url(img/GTI.png);
	color:white;
}
#photo1 img{
	width:100%;
	object-fit: cover;
}
.Tekst{
	width:100%;
	background-color:rgba(45,45,45,0.85);
	border-radius:15px;
}
.Tekst p{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 1.5em;
}
.Tekst h1{
	font-size: 3em;
	text-align: center;
}